<section class="gallery">
  <div id="gallery" style="visibility: hidden; height: 1px; overflow: hidden">
    {{ $images := slice }}
    {{ range $image :=  .Resources.ByType "image" }}
      {{ $title := "" }}
      {{ $wTitle := $image.Title }}
      
      {{ with $image.Exif }}
        {{ with .Tags }}

          {{ if eq $image.Title $image.Name }}
            {{/* Title from front matter */}}
            {{ $wTitle = "" }}
          {{ end }}
          
          {{ if not $wTitle }}
            {{ if .ImageDescription }}
              {{ $wTitle = .ImageDescription }}
            {{ end }}
          {{ end }}

          {{/* 手动镜头可能不会记录焦段和光圈值 */}}
          {{ $len35 := .FocalLengthIn35mmFilm }}
          {{ if not $len35 }}{{ $len35 = 0 }}{{ end }}
          {{ $fn := .FNumber }}
          {{ if not $fn }}{{ $fn = 0.0 }}{{ end }}
          
		  {{/* 时间 */}}
		  {{ $time := .DateTimeOriginal.Format "2006-01-02 15:04:05" }}
		  
          {{/* Title from EXIF Info */}}
          {{ $title = printf "%s %s <br> %dmm f/%.2g %ssec ISO %d <br><br> %s<br><br> %s" 
          .Make .Model $len35 $fn .ExposureTime .ISOSpeedRatings $time
          $wTitle}}
        {{ end }}
      {{ end }}

      {{ if eq $title ""}}
        {{ $title = $image.Title }}
      {{ end }}

      {{ $images = $images | append (dict
        "Name" $image.Name
        "Title" $title
        "image" $image
        )
      }}
    {{ end }}
    {{ range sort $images (.Params.sort_by | default "Name") (.Params.sort_order | default "asc") }}
      {{ $image := .image }}

      {{ $thumbnail := $image.Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}

      {{ $full := $image.Filter (slice images.AutoOrient (images.Process "fit 1600x1600")) }}
      {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
      <a class="gallery-item" href="{{ $image.RelPermalink }}" data-pswp-src="{{ $full.RelPermalink }}" data-pswp-width="{{ $full.Width }}" data-pswp-height="{{ $full.Height }}" itemscope itemtype="https://schema.org/ImageObject" style="aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}">
        <img loading="lazy" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" src="{{ $thumbnail.RelPermalink }}" style="background-color: {{ $color }}" alt="{{ .Title }}" />
        <meta itemprop="contentUrl" content="{{ $image.RelPermalink }}" />
        {{ with site.Params.Author }}
          <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
            <meta itemprop="name" content="{{ site.Params.Author.name }}" />
          </span>
        {{ end }}
      </a>
    {{ end }}
  </div>
</section>

<style>
.gallery {
  display: grid;
  gap: 10px;
  max-width: 65%;
  margin: 0 auto;
}
</style>
